.root {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}
.block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: cornsilk;
  border-radius: 5px;
}
