.root {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}
.form {
  text-align: center;
}
.enterMoney {
  font-size: 26px;
  min-width: 6vw;
}
