.root {
  position: absolute;
  left: 2vw;
  top: 2vh;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: cornsilk;
}
.form {
  text-align: center;
}
.enterMoney {
  font-size: 26px;
  /* min-width: 6vw; */
}
